@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');

.intro-containter {
  margin: 0 auto;
  /* border: 2px red solid; */
  height: 90vh;
  width: 70%;
}
.intro-text {
  /* border: 1px blue solid; */
  height: 75%;
  text-align: center;
  color: #77835d;
  text-shadow: -1px -1px 0 #353d29, 1px -1px 0 #353d29, -1px 1px 0 #353d29,
    1px 1px 0 #353d29;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.intro-btns {
  /* border: 1px green solid; */
  height: 24%;
}
.role h1{
    flex: 0 2 100px ;
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-size: 5.0vw;
    font-weight: 'lighter';

}

@media screen and (max-width: 480px) {
  .intro-containter {
    box-sizing: border-box;
    margin: 0 auto;
    /* border: 2px red solid; */
    height: 87vh;
    width: 98%;
  }
  .intro-text h2 {
    font-size: 8.0vw;
  }
  .role h1{
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-size: 14.5vw;
   

}
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .intro-containter {
    box-sizing: border-box;
    margin: 0 auto;
    /* border: 2px red solid; */
    height: 87vh;
    width: 98%;
  }
  .intro-text h2 {
    font-size:5.0vw;
  }
  .role h1{
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-size: 12.0vw;
   

}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .intro-containter {
    box-sizing: border-box;
    margin: 0 auto;
    /* border: 2px red solid; */
    height: 87vh;
    width: 85%;
  }
  .intro-text h2 {
    font-size:3.5vw;
  }
  .role h1{
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-size: 10.0vw;
   

}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .intro-containter {
    box-sizing: border-box;
    margin: 0 auto;
    /* border: 2px yellow solid; */
    height: 87vh;
    width: 85%;
  }
  .intro-text h2 {
    font-size:3.0vw;
  }
  .role h1{
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-size: 8.0vw;
   

}

}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .intro-containter {
    box-sizing: border-box;
    margin: 0 auto;
    /* border: 2px yellow solid; */
    height: 87vh;
    width: 85%;
  }
  .intro-text h2 {
    font-size:2.5vw;
  }
  .role h1{
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-size: 6.5vw;
   

}
}
@media screen and (min-width: 1920px) {
  
}